{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h1>Вход</h1>

                        {#        <form action="{% url 'accounts:login' %}" method="post" class="text-center">#}
                        <form action="" method="post" class="text-start">
                            {% csrf_token %}
                            {% if has_error %}
                                <p class="text-danger">Неверное имя пользователя или пароль.</p>
                            {% endif %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Имя пользователя:</label>
                                <input type="text" class="form-control" name="username" id="username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Пароль:</label>
                                <input type="password" class="form-control" name="password" id="password">
                            </div>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Enter</button>
                                <a href="{% url 'webapp:index' %}" class="btn btn-light">Return to home
                            page</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>

    </div>
{% endblock %}