{% extends 'base.html' %}
{% block title %}
    Detail
{% endblock %}
{% block body %}
    <div class="list-group col-8 offset-2 mt-3">
        <span class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Task_summary: {{ issues.summary }}</h5>
            </div>
            <hr>
                <p class="mb-1">Task_description: {{ issues.description }}</p>
            <hr>
                <small>Type: {% for type in issues.type.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small><br>
                <small>Status: {{ issues.status }}</small><br>
                <small>Project: {{ issues.project }}</small><br>
                <small>Date: {{ issues.updated_date }}</small>
        </span>
    </div>
    <a href="{% url 'webapp:index' %}" class="btn btn-success d-block mt-3 mx-auto w-25">Return to main page</a>
{% endblock %}